.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    border: none;
	border-bottom: 1px dashed #83A4C5;
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}

input[type="text"]:focus{
    border-bottom: 1px dashed #3e64c8;
    outline: none;
}

form button{
    display: inline-block;
    width: 100%;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
}

#save-roles{
    display: inline-block;
    width: 300px;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

textarea{
    width: 100%;
    resize: none;
    height: 100px;
}

.username h2{
    text-align:center
}

.flushed-messages p, span.status{
    color: rgba(0, 0, 0, 0.33);
    margin: 0;
}



.navbar a, .navbar a:visited, .navbar a:hover, .navbar a:active{
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;

	position:relative;
    transition:0.5s color ease;
	text-decoration:none;
	color: #5cc8d2;
	font-size: 1.2em;
}
.navbar a:hover{
	color:#d73444;
}

.navbar span{
    color: #404643;
    margin: 0 .5em;
    font-size: 1.3em;
}

.users{
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    text-align: center;
}

.users button{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #666666;
    text-decoration:none;
    color: #E5DADA;
    font-size: 1.3em;
}

.users button:hover{
    background-color: #666666;
}


.users button.role-0{
    background-color: #002642;
}

.users button.role-1{
    background-color: #5b3f00;
}

.users button.role-2{
    background-color: #840032;
}

.owl-carousel{
    max-width: 600px
}

.owl-item{
    text-align: center;
}

.owl-item.active.center {
       transform: scale(1.3, 1.3);
       font-weight: bold;
 }


.owl-prev, .owl-next {
    width: 15px;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    display: block !important;
    border: 0 solid black;
    font-size: 30px !important;
}
.owl-prev { left: -20px; }
.owl-next { right: -20px; }
.owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}


@media (max-width: 900px) {
    .owl-nav {
       display: none;
    }

}