.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.fancybox-caption__body{
    font-size: 18px;
}

.report-form input[type="text"]{
    width: 100%;
    height: 40px;
    border: none;
	border-bottom: 1px dashed #83A4C5;
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}

.report-form input[type="text"]:focus{
    border-bottom: 1px dashed #3e64c8;
    outline: none;
}

form button{
    display: inline-block;
    width: 100%;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
}

#save-roles{
    display: inline-block;
    width: 100%;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

textarea{
    width: 100%;
    resize: none;
    height: 100px;
}

.username h2{
    text-align:center
}

.flushed-messages p, .status{
    font-size: 18px;
    color: rgb(0, 64, 7);
    margin: 0;
}



.navbar a, .navbar a:visited, .navbar a:hover, .navbar a:active{
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;

	position:relative;
    transition:0.5s color ease;
	text-decoration:none;
	color: #5cc8d2;
	font-size: 1.2em;
}
.navbar a:hover{
	color:#d73444;
}

.navbar span{
    color: #404643;
    margin: 0 .5em;
    font-size: 1.3em;
}

.users{
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.user{
    padding: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

.users .user{
    display: flex;
    width: 100%;
    border: 1px solid #666666;
    text-decoration:none;
    color: #E5DADA;
    font-size: 1.3em;
}

.user-buttons{
    margin-left: auto;
    white-space: nowrap;
}

.user a{
    color: #E5DADA;
}

.user a:hover{
    color: #666666;
}

.user a:active{
    color: #4b0022;
}


.user.role-0{
    background-color: #002642;
}

.user.role-1{
    background-color: #5b3f00;
}

.user.role-2{
    background-color: #840032;
}

#qrcode{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
}

#qrcode img{
  max-width:50%;
  max-height:50%;
}

.add-user{
    margin-bottom: 15px;
}

.add-user input[type="text"]{
    border: 1px solid #3e64c8;
    width: 100%;
    height: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
}

.add-user input[type="text"]:focus{
    border: 1px dashed #3e64c8;
    outline: none;
}

.owl-carousel{
    max-width: 600px
}

.owl-item{
    text-align: center;
}

.owl-item.active.center {
       transform: scale(1.3, 1.3);
       font-weight: bold;
 }


.owl-prev, .owl-next {
    width: 15px;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    display: block !important;
    border: 0 solid black;
    font-size: 30px !important;
}
.owl-prev { left: -20px; }
.owl-next { right: -20px; }
.owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}


@media (max-width: 900px) {
    .owl-nav {
       display: none;
    }
}

@media (min-width: 620px) {
    .activities{
        width: 600px;
    }
}

@media (max-width: 620px) {
    .activities{
        width: 100%;
    }
}

@media (min-width: 480px) {
    .add-user{
        width: 480px;
    }
    .users{
        width: 480px;
    }

    #save-roles{
        width: 480px;
    }
}

@media (max-width: 480px) {
    .users{
        width: 100%;
    }

    .add-user{
        width: 100%;
    }

    #save-roles{
        width: 100%;
    }
}



.activities .spoiler, .activities .spoiler-content-wrapper{
    width: 100%;
}

.activity{
    margin-bottom: 20px;
}

.spoiler{
    cursor: pointer;
    border-radius: 25px 25px 0 0;
    background-color: rgba(212, 233, 251, 0.44);

    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #989898;
    border-left: 1px solid #000000;
}

.spoiler-header{
    margin: 10px;
    display: flex;
}

.spoiler-header .activity-name{
    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
    max-width: 430px;
}

.spoiler-header .activity-type{
    font-weight: bold;
}

.spoiler-header .header-buttons{
    margin-left: auto;
    white-space: nowrap;
}

.spoiler-content-wrapper{
    transition: height 0.5s ease-out;
    background-color: rgba(226, 243, 245, 0.33);

    border-top: 0 solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;

}

.spoiler-content{
    margin: 10px;
    /*display: flex;*/
}
