{% extends 'layout.html' %}

{% block body %}

    <div class="container">
        <div class="users">
            {% for user in users %}
                <button class="role-{{ user.role }}" user_role="{{ user.role }}" pk="{{ user.id }}">
                    {{ user.name }}
                </button>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <span class="status">

        </span>
    </div>

    <div class="container">
        <button id="save-roles">Зберегти</button>
    </div>

{% endblock %}
