<!doctype html>
<head lang="ru">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Owlcarousel styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/owlcarousel/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/owlcarousel/owl.theme.default.min.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Fancybox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


    <!-- Owlcarousel scripts -->
	<script src="{{ url_for('static', filename='plugins/owlcarousel/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/jquery.mousewheel.min.js') }}"></script>

    <!-- Spoiler -->
    <script src="{{ url_for('static', filename='plugins/jquery.spoiler.min.js') }}"></script>

    <!-- Add custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

    <!-- Add custom JavaScript -->
    <script src="{{ url_for('static', filename='custom.js') }}"></script>

</head>

<body>
    {% if current_user.is_authenticated %}
        {% include 'includes/navbar.html' %}
    {% endif %}

    {% block body %}
    {% endblock %}
</body>